.card .dropdown-toggle::after {
    display: none;
}

.urls .text {
    color: #AAA;
    font-size: 13px;
}

.resolutions .text {
    color: #BBB;
    font-size: 13px;
}

.resolutions a {
    text-decoration: none;
}

.input-group input {
    font-size: 12px;
}