.card .dropdown-toggle::after {
    display: none;
}

.urls .text {
    color: #BBB;
    font-size: 13px;
}

.resolutions .text {
    color: #BBB;
    font-size: 13px;
}

.resolutions a {
    text-decoration: none;
}

.input-group input {
    font-size: 12px;
}

.card .add {
    position: absolute; 
    z-index: 1;
    background-color: #ffffff;
    border-radius: 0 0 8px 0;
    width: 25px;
    height: 27px;
}

.card .add :hover {
    cursor: pointer;
    color: #05a081;
}

.card .bi {
    position: absolute;
    top: -5px;
    font-size: 20px;
}