<h3>Opret produkt</h3>
<br>

<div>
  <form class="form-group row g-3" (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="col-md-6">
      <label for="name" class="form-label">Produktnavn</label>
      <input type="text" class="form-control" id="name" name="name" required minlength="4" [(ngModel)]="model.name"
        #name="ngModel">
    </div>
    <div class="col-md-6">
      <label for="sku" class="form-label">Varenummer</label>
      <input type="text" class="form-control" id="sku" name="sku" required minlength="4" [(ngModel)]="model.sku"
        #sku="ngModel">
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid || submitted">Opret</button>
      <span *ngIf="name.invalid && (name.dirty || name.touched)" class="ms-3">
        <span *ngIf="name.errors?.['required']">Produktnavn er påkrævet</span>
        <span *ngIf="name.errors?.['minlength']">Produktnavn skal være mindst 4 karakterer langt</span>
      </span>
      <span *ngIf="!name.invalid && sku.invalid && (sku.dirty || sku.touched)" class="ms-3">
          <span *ngIf="sku.errors?.['required']">Varenummer er påkrævet</span>
          <span *ngIf="sku.errors?.['minlength']">Varenummer skal være mindst 4 karakterer langt</span>
        </span>
    </div>
  </form>
</div>

<br>
<br>

<div>
  <h6>Tilføj produkt billeder</h6>
  <br>
  <form>
    <div class="form">
      <input type="file" #fileInput id="file" accept="image/*" multiple (change)="selectFiles($event)" />
      <div>
        <i class="bi bi-cloud-upload"></i>
        <p>Upload produkt billeder</p>
        <button class="btn btn-primary">Gennemse filer</button>
      </div>
      <span id="fileName" class="text-primary "></span>
    </div>
  </form>
  <br>

  <div *ngIf="selectedFiles">
    <div class="row" *ngFor="let preview of previews; let i = index">
      <div class="col-12">
        <div class="card">
          <div class="image-container">
            <img [src]="previews[i]"><br>
            <button type="button" class="btn btn-light-outline btn-sm btn-square mt-1" (click)="removeUpload(i)">
              <i class="bi bi-trash"></i> Fjern
            </button>
          </div>
          <div class="card-body">
            <div *ngIf="uploadStatus[i];" class="uploaded"><i class="bi bi-cloud-check-fill"></i></div>
            <div><i class="bi bi-file-earmark-image me-1"></i> Filnavn: {{selectedFiles[i].name}}</div>
            <div><i class="bi bi-hdd me-1"></i> Størrelse: {{selectedFiles[i].size / 1048576 | number: '1.2-2'}} MB
            </div>
            <br>
            <label class="form-label">
              <i class="bi bi-box me-1"></i> Angiv produktets visning</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="image{{i}}" id="image{{i}}option1" 
              (click)="setImageName(i, ImageNamesEnum.Front)">
              <label class="form-check-label" for="image{{i}}option1">
                {{ImageNamesEnum.Front}}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="image{{i}}" id="image{{i}}option2"
              (click)="setImageName(i, ImageNamesEnum.Side)">
              <label class="form-check-label" for="image{{i}}option2">
                {{ImageNamesEnum.Side}}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="image{{i}}" id="image{{i}}option3"
              (click)="setImageName(i, ImageNamesEnum.Back)">
              <label class="form-check-label" for="image{{i}}option3">
                {{ImageNamesEnum.Back}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="previews.length > 0" type="button" class="btn btn-primary" (click)="uploadFiles()"
      [disabled]="!model.id">
      Upload {{previews.length}} valgte filer
    </button>
    <span *ngIf="!model.id" class="ms-3">Opret et produkt først</span>
  </div>

  <div *ngIf="error">{{error.message}}</div>