<h3>Produkter <span class="badge">{{total$ | async}}</span></h3>

<ng-template #loading>
  <p *ngIf="!error else errorTemp">loading...</p>
  <ng-template #errorTemp>{{error?.message}}</ng-template>
</ng-template>
<br>

<form>

  <div style="display: flex; justify-content: space-between;">
    <div class="input-group w-50">
      <span class="input-group-text">
        <i class=" bi-search"></i>
      </span>
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" placeholder="Søg"
        aria-label="Search" [(ngModel)]="service.searchTerm" />
    </div>

    <a class="btn btn-primary" [routerLink]="['/product/create']" href="" role="button">
      <i class="bi bi-file-earmark-plus"></i>
      Opret produkt
    </a>
  </div>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="sku" (sort)="onSort($event)">Varenummer</th>
        <th scope="col" style="min-width: 400px;" sortable="name" (sort)="onSort($event)">Produktnavn</th>
        <th scope="col">Oprettet</th>
        <th scope="col" class="text-center">Billeder</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$ | async">
        <td class="align-middle">{{ product.id }}</td>
        <td class="align-middle" scope="row"><ngb-highlight [result]="product.sku"
            [term]="service.searchTerm"></ngb-highlight></td>
        <td class="align-middle name">
          <a [routerLink]="['/product/', product.id]">
            <span *ngFor="let image of product.images; let first = first">
              <div *ngIf="first && image.url" class="img-container d-inline-block">
                <img [src]="image.url" />
              </div>
            </span>
            <div *ngIf="product.images && product.images.length == 0" class="img-container d-inline-block">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                class="no-img" />
            </div>
            <ngb-highlight [result]="product.name" [term]="service.searchTerm"></ngb-highlight>
          </a>
        </td>
        <td class="align-middle">{{product.createdDate | date: 'dd.MM.YYYY' }}</td>
        <td class="align-middle text-center"><i class="bi bi-images"></i> {{product.images?.length}}</td>
        <td class="align-middle text-end">
          <button type="button" class="btn btn-light btn-sm btn-square me-1">
            <i class="bi bi-pencil-square"></i></button>
          <button type="button" class="btn btn-light btn-sm btn-square"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 resultater per side</option>
      <option [ngValue]="50">50 resultater per side</option>
      <option [ngValue]="100">100 resultater per side</option>
    </select>
  </div>
</form>

<ng-template #noProducts>
  <h5>Ingen produkter fundet</h5>
</ng-template>