<ng-template #loading>
    <p *ngIf="!error else errorTemp">loading...</p>
    <ng-template #errorTemp>{{error?.message}}</ng-template>
</ng-template>

<div *ngIf="catalog$ | async as catalog else loading">
    <div *ngIf="catalog else noCatalog">
        <h3>{{catalog.name}}</h3>
        <br>
        <div *ngIf="products$ | async as products else loading">
            <h5>Produkter</h5>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" *ngFor="let product of products">
                    <div class="card h-100" [routerLink]="['/catalog/' + catalog.id + '/product/', product.id]">
                        <img *ngIf="product.images" [src]="product.images[0].url" class="card-img-top mx-auto">
                        <div class="card-body">
                            <p class="card-text">{{product.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noCatalog>
        <h5>Ingen kataloger fundet</h5>
    </ng-template>
</div>