<ng-template #loading>
    <p *ngIf="!error else errorTemp">loading...</p>
    <ng-template #errorTemp>{{error?.message}}</ng-template>
</ng-template>

<div *ngIf="catalogs$ | async as catalogs else loading">
    <div *ngIf="catalogs else noCatalogs">
        <h3>Kataloger</h3>
    </div>
    <br />

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div *ngFor="let catalog of catalogs" class="col">
            <div class="card h-100" [routerLink]="['/catalog', catalog.id]">
                <div class="catalog">
                    <div class="middle">
                        <i class="bi bi-collection"></i>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{catalog.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <ng-template #noCatalogs>
        <h5>No catalogs found</h5>
    </ng-template>
</div>