.catalog {
    position: relative;
    background-color: #CCC;
    border-radius: 5px;
    min-height: 150px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.catalog:hover {
    opacity: 0.5;
    transition: .3s ease;
}

.catalogs .selected {
    background-color: #05a081;
    opacity: 1;
}

.catalog:hover .middlea {
    opacity: 1;
}

.catalog .bi {
    color: white;
    font-size: 64px;
}