<div class="modal-header">
    <h4 class="modal-title">Gem billede i katalog</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <h5 ngbAutofocus>Vælg et katalog</h5>
    <div class="catalogs row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let catalog of catalogs" class="col">
            <div class="card h-100 gallery">
                <div class="containera" [class.selected]="catalog === selectedCatalog"
                    (click)="onSelectCatalog(catalog)">
                    <!--<img src="https://www.w3schools.com/w3images/nature.jpg" alt="Avatar" class="imagea">-->
                    <div alt="Avatar" style="height:100px;"></div>
                    <div class="middlea">
                        <div class="texta">
                            <i class="bi bi-bookmark-plus" [hidden]="catalog === selectedCatalog"></i>
                            <i class="bi bi-bookmark-check" [hidden]="catalog !== selectedCatalog"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{catalog.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h5>Gør tilgængelig i følgende varianter</h5>
    SelectedImage.width: {{selectedImage.width}}<br>
    SelectedCatalog: {{selectedCatalog?.name}}<br>
    selectedResolutions: <div *ngFor="let sr of selectedResolutions">{{sr.name}}</div>

    <div class="list-group resolutions">
        <label *ngFor="let resolution of resolutionOptions" type="button" 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <span>{{resolution.name}} <span class="text ms-2"><i class="bi bi-aspect-ratio"></i> {{resolution.width}}x{{resolution.height}}</span></span>
            <input class="form-check-input me-1" type="checkbox" value="" (click)="onSelectResolution(resolution)">
        </label>
    </div>

    <br />
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Luk</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitAddToCatalog()">Gem i katalog</button>
    </div>