.containera {
    position: relative;
    background-color: #CCC;
    border-radius: 5px 5px;
    cursor: pointer;
}

.containera img {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


.middlea {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}



.containera:hover {
    opacity: 0.5;
    transition: .5s ease;
}

.catalogs .selected {
    background-color: #05a081;
    opacity: 1;
}

.containera:hover .middlea {
    opacity: 1;
}

.texta {
    color: white;
    font-size: 38px;
}



.card-text {
    font-size: 14px;
}


.card {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 15px #CCC;
}




.resolutions .text {
    color: #BBB;
    font-size: 13px;
}