/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 15px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #05a081;
}

.ng-invalid:not(form) {
  border-left: 5px solid #c91f1c;
}

.ngb-highlight {
	background-color: rgb(201, 238, 227) !important;
}

// Bootstrap overrides
$primary: #05a081; //05a081
$input-border-color: #e8e8e8;


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap";

.btn {
  border-radius: 14px;
  box-shadow: 0px 2px 5px #CCC;
}

.btn:hover {
  transition: .5s ease;
  box-shadow: 0px 4px 5px #CCC;
}

.btn-primary, .btn-primary:hover {
  color: #fff;
}

.btn:disabled {
  opacity: 0.5;
  color: #FFFFFFAA;
}

.logo {
  font-family: Roboto, 'MuseoModerno', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
}

.card {
  border: 1px solid #DDD;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 8px #CCC;
}

.card:hover {
  box-shadow: 0px 4px 15px #BBB; //a1c5bf
}
/*
.card-img-top {
  margin: 10px 10px 0 10px;
}
*/
.card img {
  border-radius: 5px;
  object-fit: contain;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 150px;
}

.card .card-text {
  font-size: 15px;
}

.card .link {
  
}